python-serialization/task_01_pickle_alternative.py
python-serialization/task_01_pickle_test.py
python-serialization/study_session.pkl
python-serialization/object.pkl
python-serialization/__pycache__/task_01_pickle.cpython-312.pyc
.gitignore
python-serialization/task_02_csv_test.py
python-server_side_rendering/output_1.txt
.gitignore
python-server_side_rendering/template.txt
python-server_side_rendering/__pycache__/task_00_intro.cpython-312.pyc
.gitignore
python-server_side_rendering/output_3.txt
.gitignore
.gitignore
python-server_side_rendering/output_2.txt
python-server_side_rendering/task_00_intro_test.py
